.currentTurn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding: 1.6rem 3rem;
  background-color: var(--semi-dark-navy);
  border-radius: var(--radius-15);
  width: 14rem;
}

.currentTurn svg {
  justify-self: center;
  align-self: center;
  flex-shrink: 0;
}
