.currentTurn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  padding: 1.6rem 2.4rem;
  background-color: var(--semi-dark-navy);
  border-radius: var(--radius-15);
  width: 14rem;
}

.currentTurnIcon {
  width: 3.2rem;
  aspect-ratio: 1 / 1;
}
