.gameStat {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: var(--dark-navy);
  padding: 1.2rem 1.8rem;
  text-align: center;
  border-radius: var(--radius-15);
}

.gameStatPlayer {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.x {
  background-color: var(--light-blue);
}

.ties {
  background-color: var(--silver);
}

.o {
  background-color: var(--light-yellow);
}

@media (max-width: 340px) {
  .gameStatPlayer {
    font-size: 1.3rem;
  }
}
