.xoPicker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: var(--dark-navy);
  margin: 1.6rem 2.4rem;
  padding: 0.4rem;
}

.xoPicker,
.picker {
  border-radius: var(--radius-10);
  overflow: hidden;
}

.picker {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  text-align: center;
  padding: 1.6rem;
  width: 85%;
  height: 85%;
}

.picker:hover {
  cursor: pointer;
  background-color: var(--dark-navy-hover);
}

.x {
  fill: var(--light-blue);
}

.o {
  fill: var(--light-yellow);
}

.pickerActive {
  background-color: var(--silver);
  fill: var(--dark-navy);
}

.pickerActive:hover {
  cursor: default;
  background-color: var(--silver);
}
