.gameStat {
  display: flex;
  flex-direction: column;
  color: var(--dark-navy);
  padding: 1.2rem 2.1rem;
  text-align: center;
  border-radius: var(--radius-15);
}

.gameStatPlayer {
  text-transform: uppercase;
  font-size: 1.6rem;
}

.x {
  background-color: var(--light-blue);
}

.ties {
  background-color: var(--silver);
}

.o {
  background-color: var(--light-yellow);
}
