.gameField {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--semi-dark-navy);
  box-shadow: inset 0px -9px 0px 0px var(--dark-navy-inset);
  width: 14rem;
  height: 14rem;
  border-radius: var(--radius-15);
}

.gameField.empty:hover {
  cursor: pointer;
}

.showPlaceholderX:hover::after {
  content: "";
  position: absolute;
  background-image: url("../../../assets/icon-x-outline.svg");
  width: 64px;
  height: 64px;
}

.showPlaceholderO:hover::after {
  content: "";
  position: absolute;
  background-image: url("../../../assets/icon-o-outline.svg");
  width: 66px;
  height: 66px;
}

.winningFieldX {
  background-color: #31c3bd;
}

.winningFieldO {
  background-color: #f2b137;
}
