:root {
  /* TYPOGRAPHY */
  --heading-l-size: 4rem;
  --heading-l-spacing: 0.25rem;

  --heading-m-size: 3.2rem;
  --heading-m-spacing: 0.15rem;

  --heading-s-size: 2.4rem;
  --heading-s-spacing: 0.125rem;

  --heading-xs-size: 1.6rem;
  --heading-xs-spacing: 0.1rem;

  --heading-bold: bold;

  --paragraph-size: 1.8rem;
  --paragraph-spacing: 0.08rem;
  --paragraph-bold: medium;

  /* SPACING */

  /* COLORS */
  --light-blue: #31c3bd;
  --light-blue-hover: #65e9e4;
  --light-blue-inset: #1a8884;

  --light-yellow: #f2b137;
  --light-yellow-hover: #ffc860;
  --light-yellow-inset: #bb7f0f;

  --dark-navy: #1a2a33;
  --semi-dark-navy: #1f3641;
  --dark-navy-inset: #0e1920;
  --dark-navy-hover: #a8bfc917;

  --silver: #a8bfc9;
  --silver-hover: #dbe8ed;
  --silver-inset: #7b8c94;

  /* OTHER */
  --radius-15: 1.5rem;
  --radius-10: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--dark-navy);
  font-family: "Outfit", sans-serif;
  color: var(--silver);
}

/* GENERAL */

#root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 56rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.heading-xs {
  font-size: var(--heading-xs-size);
  letter-spacing: var(--heading-xs-spacing);
  font-weight: var(--heading-bold);
  color: var(--silver);
}

.heading-s {
  font-size: var(--heading-s-size);
  letter-spacing: var(--heading-s-spacing);
  font-weight: var(--heading-bold);
  color: var(--silver);
}

.heading-m {
  font-size: var(--heading-m-size);
  letter-spacing: var(--heading-m-spacing);
  font-weight: var(--heading-bold);
}

.heading-l {
  font-size: var(--heading-l-size);
  letter-spacing: var(--heading-l-spacing);
  font-weight: var(--heading-bold);
}

.paragraph-text {
  font-size: var(--paragraph-size);
  letter-spacing: var(--paragraph-spacing);
  font-weight: var(--paragraph-bold);
  text-align: center;
}

/* MEDIA LINKS */
.media-links {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.media-link {
  padding: 2rem;
  font-family: inherit;
  border: none;
  border-radius: var(--radius-15);
  transition: 0.4s all;

  background-color: var(--light-yellow);
  -webkit-box-shadow: inset 0px -9px 0px 0px var(--light-yellow-inset);
  -moz-box-shadow: inset 0px -9px 0px 0px var(--light-yellow-inset);
  box-shadow: inset 0px -9px 0px 0px var(--light-yellow-inset);
}

.media-link:link,
.media-link:visited {
  text-decoration: none;
  color: var(--dark-navy);
  min-width: 14rem;
  text-align: center;
}

.media-link:hover,
.media-link:active {
  transition: 0.2s ease all;
  background-color: var(--light-yellow-hover);
}
