.gameField {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--semi-dark-navy);
  box-shadow: inset 0px -9px 0px 0px var(--dark-navy-inset);
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-15);
}

.gameField.empty:hover {
  cursor: pointer;
}

.fieldFigureX {
  width: 6.4rem;
  height: 6.4rem;
}

.fieldFigureO {
  width: 6.6rem;
  height: 6.6rem;
}

@media (any-hover: hover) {
  .showPlaceholderX:hover::after {
    content: "";
    position: absolute;
    background-image: url("../../../assets/icon-x-outline.svg");
    width: 6.4rem;
    height: 6.4rem;
  }

  .showPlaceholderO:hover::after {
    content: "";
    position: absolute;
    background-image: url("../../../assets/icon-o-outline.svg");
    width: 6.6rem;
    height: 6.6rem;
  }
}

.winningFieldX {
  background-color: #31c3bd;
}

.winningFieldO {
  background-color: #f2b137;
}
