.resetGameBtn {
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  border: none;
  background-color: var(--silver);
  border-radius: var(--radius-10);
  cursor: pointer;
  box-shadow: inset 0px -4px 0px 0px var(--silver-inset);
}
