/* END GAME PANEL */
.finishGamePanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  background-color: green;
  text-align: center;
  padding: 4rem;
}

.primaryText,
.additionalText {
  text-transform: uppercase;
}

.primaryText {
  margin-top: 1.6rem;
}

.btns {
  margin-top: 3rem;
  display: flex;
  gap: 2.4rem;
}
