/* END GAME PANEL */
.panelOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finishGamePanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--semi-dark-navy);
  text-align: center;
  padding: 4rem;
}

.primaryText,
.additionalText {
  text-transform: uppercase;
}

.primaryText {
  margin-top: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.btns {
  margin-top: 3rem;
  display: flex;
  gap: 2.4rem;
}

.textWinsX {
  color: var(--light-blue);
}

.textWinsO {
  color: var(--light-yellow);
}

@media (max-width: 600px) {
  .winningFigure {
    width: 4.8rem;
    height: 4.8rem;
  }

  .primaryText {
    font-size: 3.2rem;
  }
}

@media (max-width: 410px) {
  .primaryText {
    font-size: 3.2rem;
  }
}

@media (max-width: 370px) {
  .finishGamePanel {
    padding: 4rem 3.2rem;
  }

  .primaryText {
    font-size: 2.4rem;
  }
}
